@mixin title-style($marginBotDesktop:40px) {
    font-size: 2.5rem;
    line-height: 120%;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0 0 $marginBotDesktop 0;
    color: white;


    @media(max-width:772px) {
        font-size: 1.5rem;
        margin: 0 0 10px;
        color: white;


    }
}

@mixin text-style($color:white) {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 120%;
    color: $color;
}

$light_blue:#2c3e50;
$dark_blue: #222f3e;
$grey: #bdc3c7;

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Mulish',
        sans-serif;
}

input,
textarea {
    display: block;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1170px;
}

.header {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        flex: 1;

    }

    &__nav {
        flex: 1;
        display: flex;
        justify-content: space-between;
        text-align: center;
        transition: all 0.4s;

        &-link {
            text-decoration: none;
            @include text-style();
            transition-property: margin, font-weight;
            transition-duration: 0.4s, 0.2s;

            &:hover {

                &:nth-child(1) {
                    margin-left: -15px;
                }

                &:last-child {
                    margin-right: -15px;
                }

                font-weight: 800;
            }

            @media(max-width: 772px) {
                &:nth-child(n+2) {
                    margin: 20px 0 0;
                }

                &:hover:nth-child(n+2) {
                    margin-left: -15px;
                    margin-right: unset;
                }
            }
        }


        @media(max-width: 1200px) {
            flex: 2;
        }

        @media(max-width: 772px) {
            position: absolute;
            top: 0;
            right: -100%;
            width: 70%;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.8);

        }

    }

    &__media {
        flex: 1;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include text-style();

        &-link {
            margin: 0 0 0 10px;
            transition: transform 0.5s;

            @media(min-width: 772px) {
                &:hover {
                    transform: translateY(-5px);
                }
            }

        }

        &-icon {
            width: 20px;
            height: 20px;
            vertical-align: middle;
            fill: white;
        }

        p {
            @media(max-width: 772px) {
                display: none;
            }
        }
    }

    &__menu-btn {
        margin: 0 0 0 30px;
        z-index: 20;

        .fa-times,
        .fa-bars {
            display: none;
            font-size: 20px;
            color: white;
        }

        @media(max-width: 772px) {
            .fa-bars {
                display: inline;
            }
        }
    }

    @media(max-width: 768px) {
        height: 60px;
    }
}

#check {
    position: absolute;
    visibility: none;
    left: -9999px;

    &:checked~nav {
        right: 0;
    }

    &:checked~label {
        .fa-bars {
            display: none;
        }

        .fa-times {
            display: inline;
        }
    }

}

.logo {
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;

    @media(max-width: 768px) {
        font-size: 1.1rem;
    }


}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/intro-bg.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__text {
        width: fit-content;
        margin: 0 auto;
        color: white;

        @media(max-width: 576px) {
            margin: 0 auto 0;
        }
    }

    &__title {
        font-size: 3.5rem;
        line-height: 120%;
        font-weight: 800;


        br {
            display: none;
        }

        @media(max-width:768px) {
            font-size: 2rem;

        }

        @media(max-width: 576px) {
            margin: -40px 0 0;

            br {
                display: block;
            }
        }

    }

    &__subtext {
        font-size: 1.5rem;
        line-height: 120%;
        margin: 5px 0 0;
        opacity: 0;


        @media(max-width: 768px) {
            font-size: 1rem;
        }

    }


    &__btn {
        display: inline-block;
        padding: 18px 30px;
        margin: 50px 0 0;
        background-color: $light_blue;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: 700;
        color: #ffffff;
        text-transform: lowercase;
        text-decoration: none;
        width: fit-content;
        border-radius: 50px;
        transition: all 0.4s ease-in-out;

        &:hover {
            box-shadow: 10px 10px 20px rgba($color: #000000, $alpha: 0.7);
            background-color: lighten($color: $light_blue, $amount: 5%);
        }

        @media(max-width:768px) {
            font-size: 1rem;
            padding: 13px 20px;
            margin: 30px 0 0;
            border-radius: 30px;

            &:hover {
                box-shadow: unset;
                background-color: $light_blue;
            }

        }

    }

    &__hey,
    &__my,
    &__name,
    &__subtext,
    &__btn {
        animation-name: fade;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    &__hey {
        animation-delay: 0.5s;

    }

    &__my {
        animation-delay: 1.3s;

    }

    &__name {
        animation-delay: 1.8s;

    }

    &__subtext {
        animation-delay: 2.5s;
    }

    &__btn {
        animation-delay: 3.2s;
    }


}

.about {
    padding: 100px 0;
    background: linear-gradient($light_blue, $dark_blue);

    &__inner {
        display: flex;
        justify-content: space-between;

        @media(max-width: 576px) {
            flex-direction: column-reverse;
        }
    }

    &__text {
        width: 60%;

        @media(max-width: 576px) {
            width: 100%;
            margin: 20px 0 0;
        }
    }

    &__title {
        @include title-style(20px);
    }

    &__desc {
        @include text-style();

    }

    &__pic {
        width: 32%;
        text-align: right;

        @media(max-width: 576px) {
            text-align: center;
            width: 100%;
        }
    }

    &__img {
        width: 100%;
        max-width: 400px;
        border-radius: 20px;
        box-shadow: 10px 10px 20px rgba($color: (#000000), $alpha: 0.5);
    }

    @media(max-width: 768px) {
        padding: 50px 0;
    }
}

.services {
    padding: 100px 0;
    background: linear-gradient($dark_blue, $light_blue);

    &__title {
        @include title-style(20px);

    }

    &__subtext {
        font-size: 1.3rem;
        line-height: 120%;
        letter-spacing: 2px;
        color: white;
        margin: 0 0 30px 0;

        @media(max-width: 768px) {
            font-size: 1rem;
            margin: 0;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }

    &__item {
        width: 30%;
        padding: 30px 20px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);

        @media(max-width: 768px) {
            width: 47%;
            margin: 20px auto 0 auto;

        }

        @media(max-width: 576px) {
            width: 100%;
        }
    }

    &__icon {
        width: 64px;
        height: 64px;
        fill: rgba(248, 239, 186, 0.8);

    }

    &__subtitle {
        font-size: 1.5rem;
        margin: 10px 0;
        font-weight: 600;
        line-height: 120%;
        color: white;
        letter-spacing: 1px;

        @media(max-width: 768px) {
            font-size: 1rem;
        }
    }

    &__desc {
        @include text-style($grey)
    }

    @media(max-width: 768px) {
        padding: 50px 0;
    }
}

.portfolio {
    background: linear-gradient($light_blue, $dark_blue);
    padding: 100px 0;

    &__title {
        @include title-style();
    }



    &__item {
        display: flex;
        justify-content: space-between;

        &:nth-of-type(n+2) {
            margin: 60px 0 0;
        }

        @media(max-width: 768px) {
            display: block;
        }

    }

    &__pic {
        width: 30%;


        @media(max-width: 768px) {
            width: 80%;
            margin: 0 auto;
        }
    }

    &__img {
        width: 100%;
        border-radius: 20px;
        box-shadow: 0px 0px 20px rgba($color: (#000000), $alpha: 0.5);
        filter: brightness(90%)
    }

    &__text {
        width: 60%;

        @media(max-width: 768px) {
            width: 100%;
            margin: 10px 0 0;

        }
    }

    &__subtitle {
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 1px;
        margin: 0 0 5px;
        color: white;

        @media(max-width: 768px) {
            font-size: 1.1rem;
            margin: 10px 0 5px;
        }
    }

    &__desc {
        @include text-style($grey)
    }

    &__btn {
        display: flex;
        align-items: center;
        width: fit-content;
        @include text-style();
        text-decoration: none;
        font-size: 1rem;
        padding: 13px 20px;
        background-color: darken($color: $dark-blue, $amount: 1%);
        border-radius: 50px;
        margin: 40px 0 0;
        overflow-x: hidden;

        &:hover {
            .portfolio__view {
                min-width: 50%;
            }
        }

        @media(max-width:768px) {
            margin: 20px 0 0;
            padding: 10px 20px;
        }
    }

    &__view {
        text-align: center;
        margin: 0 5px 3px;
        min-width: 100%;
        transition: all 0.3s ease-in-out;

        @media(max-width: 768px) {
            margin: 0 0 3px;
        }
    }

    &__arrow {
        width: 30px;
        height: 20px;
        fill: white;

        @media(max-width: 768px) {
            display: none;
        }
    }

    @media(max-width: 768px) {
        padding: 50px 0;
    }
}

.contact {
    padding: 100px 0;
    background-color: $dark-blue;

    &__title {
        @include title-style();
    }

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }

    &__pic {

        @media(max-width: 768px) {
            display: none;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;

    }

    &__form {

        &-item {
            &:nth-of-type(n+2) {
                margin: 20px 0 0;
            }

            label {
                display: block;
                font-size: 0.8rem;
                line-height: 120%;
                letter-spacing: 1px;
                margin: 0 0 10px;
                color: white;

            }

            input,
            textarea {
                border-radius: 10px;
                font-size: 1rem;
                background-color: $grey;
                border: none;
                padding: 20px;

                &:focus {
                    background-color: lighten($color: $grey, $amount: 6%);

                }
            }


            input {
                height: 48px;
                width: 100%;
            }

            textarea {
                resize: none;
                width: 100%;
                height: 100px;

            }



        }

        @media(max-width: 768px) {
            grid-column: 1/3;
        }
    }

    &__btn {
        display: inline-block;
        padding: 13px 38px;
        margin: 30px 0 0;
        background-color: $light_blue;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: 700;
        color: #ffffff;
        text-transform: lowercase;
        text-decoration: none;
        width: fit-content;
        border-radius: 50px;
        border: none;
        transition: all 0.4s ease-in-out;

        &:hover {
            box-shadow: 10px 10px 20px rgba($color: #000000, $alpha: 0.7);
            background-color: lighten($color: $light_blue, $amount: 5%);
        }

        @media(max-width: 768px) {
            font-size: 1rem;
            padding: 10px 30px;

            &:hover {
                box-shadow: unset;
                background-color: $light_blue;
            }
        }
    }

    @media(max-width: 768px) {
        padding: 50px 0;
    }
}

.footer {
    background-color: darken($dark-blue, 10%);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;

        @media(max-width: 576px) {
            display: block;
        }

    }

    &__logo,
    &__text {
        color: $grey;
    }

    &__text {
        font-size: 0.8rem;
        letter-spacing: 1px;

        @media(max-width: 576px) {
            margin: 10px 0 0;
            font-size: 0.6rem;
        }
    }
}














@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}